<div id="main-nav-default">
    <ul class="au-link-list">
        <li{% if page.url == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
        {% for item in site.data.main-navigation %}
            {% assign css_class = "" %}
            {% if item.url == page.url %}
                {% assign css_class = "active" | append: css_class %}
            {% endif %}
            {% if item.right %}
                {% assign css_class = "right-aligned " | append: css_class %}
            {% endif %}
        <li class="{{ css_class }}"><a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.url == page.url %}
                <nav class="navbar" id="zzz">
                {% include toc.html class="" anchor_class="nav-link" html=content %}
                </nav>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
