
{% include header.html %}

<main class="main" id="content" aria-label="Content">
    <section class="au-body">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        {{ content }}
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3">

                    {% for feature in site.data.features %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title"><a href="{{ feature.url }}" class="stretched-link">{{ feature.name | textuaize }}</a></h2>
                                {{ feature.desc | markdownify }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

            </div>
        </div>
    </section>
</main>

{% include footer.html %}
